@model ProdutoListagemViewModel
@{
    var pesquisa = Context.Request.Query["pesquisa"];
    var ordenacao = Context.Request.Query["ordenacao"].ToString();
    var action = ViewContext.RouteData.Values["action"].ToString();
}
@if (Model.lista.Count > 0)
{
    <div class="container" id="code_prod_complex">
        <div class="row">
            <div class="offset-md-10 col-md-2">
                <select id="ordenacao" asp-for="@ordenacao" class="form-control" asp-items="Model.ordenacao"></select>
            </div>
        </div>

        <br />
        <br />
        <div class="row">
            @foreach (var Produto in Model.lista)
            {
                <a asp-controller="Produto" asp-action="Visualizar" asp-route-id="@Produto.Id">
                    <div class="col-md-3">
                        <figure class="card card-product">
                            <div class="img-wrap">
                                @if (Produto.Imagens != null && Produto.Imagens.Count() > 0)
                                {
                                    <img src="@Produto.Imagens.ElementAt(0).Caminho" />
                                }
                                else
                                {
                                    <img src="~/img/produto-img.png" />
                                }
                            </div>
                            <figcaption class="info-wrap">
                                <h4 class="title">@Produto.Nome</h4>

                            </figcaption>
                            <div class="bottom-wrap">
                                <a asp-controller="CarrinhoCompra" asp-action="AdicionarItem" asp-route-id="@Produto.Id" class="btn btn-sm btn-primary float-right">+ Carrinho</a>
                                <div class="price-wrap h5">
                                    <span class="price-new">@Produto.Valor.ToString("C")</span>
                                </div> <!-- price-wrap.// -->
                            </div> <!-- bottom-wrap.// -->
                        </figure>
                    </div> <!-- col // -->
                </a>
            }

        </div> <!-- row.// -->
        @Html.PagedListPager((IPagedList)Model.lista, pagina => Url.Action(action, new { pagina = pagina, pesquisa = pesquisa, ordenacao = ordenacao }))
    </div>
}
else
{
    <br />
    <div class="container">
        <div class="alert alert-info">
            <strong>Oppssss!!!</strong> Não temos produtos para esta categoria!!!
        </div>
    </div>
}
